@using MilOficios.Entidades
@{

    var user = Session["Usuario"] as Usuario;   
}

<div class="modal fade" id="nuevoServicio_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="modalTamanio" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">NUEVO SERVICIO</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: white">
                <div class="show" id="divDetalle1">
                    <div class="container">
                        <div class="row" style="margin-bottom:8px;padding-right:12.5px">
                            <input class="hidden" id="id" value="@user.codUsuario" />
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <label>Describe el servicio que prestarás!</label>
                                    <input class="form-control" id="txtDescripcion" type="text" placeholder="Descripcion" required>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <label>Establece la fecha en la que finalizará tu oferta</label>
                                    <input style="display:block" type="date" id="txtFecha" />
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom:8px;padding-right:12.5px">
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <label>Elige la Categoria a la que te perteneces</label>
                                    <select class="form-control" id="categoria" required style="height: 34px;">
                                        <option value="">--Seleccione--</option>
                                        <option value="1">Mudanzas</option>
                                        <option value="2">Tecnicos</option>
                                        <option value="3">Jardinero</option>
                                        <option value="4">Arquitecto</option>
                                        <option value="5">Seguridad</option>
                                        <option value="6">Gas</option>
                                        <option value="7">Carpintero</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <label>Elige la ubicación disponible</label>
                                    <select class="form-control" id="ubicacion" required style="height: 34px;">
                                        <option value="">--Seleccione--</option>
                                        <option value="1">Lima</option>
                                        <option value="2">Trujillo</option>
                                        <option value="3">Huaraz</option>
                                        <option value="4">Huarmey</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    
                            @*<button type="button" class="btn btn-secondary" id="btnAtras">Cerrar</button>*@
                            <center><button type="button" class="btn btn-outline-success" id="btnGuardar">Guardar<i class="fa fa-save"></i></button></center>
                                          
                </div>
            </div>
        </div>
    </div>
</div>
