@using MilOficios.Entidades
@{

    var user = Session["Usuario"] as Usuario;
}
<div class="modal fade" id="detalle_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="modalTamanio" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">Detalle del Servicio</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: white">
                <div class="show" id="divDetalle1">
                    <div class="container">
                        <div class="row" style="margin-bottom:8px;padding-right:12.5px">
                            <input class="hidden" id="idUsuario" value="@user.codUsuario" />
                            <input class="hidden" id="id" />
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <input id="Categoria" class="form-control form-control-lg" />
                                    <img width="200" id="imagen" height="200" />
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <input class="form-control form-control-lg" id="txtDescripcion" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Ubicacion</label>
                                    <input class="form-control form-control-lg" id="txtUbi" disabled />
                                </div>
                                <div class="form-group">
                                    <label>Calificación</label>
                                    <input class="form-control form-control-lg" id="txtCali" disabled />
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom:8px;padding-right:12.5px">
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                    <input id="Nombre" class="form-control form-control-lg" />
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    @*<button type="button" class="btn btn-secondary" id="btnAtras">Cerrar</button>*@
                    <center><button type="button" class="btn btn-outline-success" id="btnGuardar">Solicitar<i class="fa fa-save"></i></button></center>

                </div>
            </div>
        </div>
    </div>
</div>